.form__button {
  background: #000000;
  border-radius: 2px;
  border: 1px solid #000000;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  padding: 13px 0;
  margin-top: 20px;
  cursor: pointer;
  transition: opacity 350ms ease;
  box-sizing: border-box;
}

.form__button:hover {
  opacity: 0.8;
}

.form__button:disabled {
  opacity: 0.2;
  color: #000;
  background: none;
}

@media screen and (max-width: 767px) {
  .form__button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }
}
