.header__login-button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #A9A9A9;
  background: none;
  border: none;
  padding: 0;
  height: 22px;
  cursor: pointer;
  text-decoration: none;
}

.header__login-button:hover {
  opacity: 0.6;
}
