.header__user {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #FFFFFF;
  margin: 0;
  height: 22px;
}

@media screen and (max-width: 767px) {
  .header__user {
    text-align: center;
  }
}
