.login {
  width: 358px;
  padding-top: 60px;
  padding-bottom: 80px;
  height: calc(100vh - 120px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 418px) {
  .login {
    width: calc(100% - 60px);
    padding-top: 40px;
    padding-bottom: 40px;
    height: calc(100vh - 85px);
  }
}
